<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4">教员:{{ instructor.name }}</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       id="index-student" data-toggle="list"
                       href="#list-student" role="tab">课程学员</a>
                    <a class="list-group-item list-group-item-action"
                       id="index-score" data-toggle="list"
                       href="#list-score" role="tab">成绩录入</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-student" role="tabpanel"
                         aria-labelledby="index-student">
                        {# 部门员工信息 #}
                        {% for course in courses %}
                            <h2>{{ course.name }}</h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">员工号</th>
                                    <th scope="col">姓名</th>
                                    <th scope="col">入职日期</th>
                                    <th scope="col">最佳成绩</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in course.students %}
                                    <tr>
                                        <th scope="row"><a
                                                href="?uid={{ s.user_id }}">{{ s.user_id }}</a>
                                        </th>
                                        <td>{{ s.name }}</td>
                                        <td>{{ s.hire_date }}</td>
                                        <td>{{ s.score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-score" role="tabpanel" aria-labelledby="index-score">
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="course">课程</label>
                                <input type="text" name="city" class="form-control" id="course"
                                       value="">
                            </div>
                            <div class="form-group">
                                <label for="user_id">员工号</label>
                                <input type="text" name="city" class="form-control" id="user_id"
                                       value="">
                            </div>
                            <div class="form-group">
                                <label for="score">分数</label>
                                <input type="number" name="city" class="form-control" id="score">
                            </div>
                            <input type="hidden" name="instructor_id" value="{{ instructor.user_id }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>