<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if msg %}
        <script>alert("{{ msg }}")</script>
    {% endif %}
<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4">登录</h1>
        <hr class="my-4">
        <div class="card border-dark mx-auto" style="max-width: 40rem;">
            <form action="{{ url_for('user.login') }}" method="post" class="p-3">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input class="form-control" id="username" placeholder="username here" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password here"
                           name="password">
                </div>
                <button type="submit" class="btn btn-primary">登录</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>