<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4">员工</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       id="list-home-list" data-toggle="list"
                       href="#list-info" role="tab">个人信息</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                       href="#list-course" role="tab">在读课程</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                       href="#list-history" role="tab">历史课程</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-info" role="tabpanel"
                         aria-labelledby="list-home-list">
                        {# 个人info表单 #}
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>员工号</th>
                                <td>{{ info.user_id }}</td>
                            </tr>
                            <tr>
                                <th>用户名</th>
                                <td>{{ info.username }}</td>
                            </tr>
                            <tr>
                                <th>姓名</th>
                                <td>{{ info.name }}</td>
                            </tr>
                            <tr>
                                <th>性别</th>
                                <td>{{ info.gender }}</td>
                            </tr>
                            <tr>
                                <th>入职日期</th>
                                <td>{{ info.hire_date }}</td>
                            </tr>
                            <tr>
                                <th>所属部门</th>
                                <td>{{ info.dept_name }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <form action="{{ url_for('user.info_modify') }}" method="post">
                            <div class="form-group">
                                <label for="city">所在城市</label>
                                <input type="text" name="city" class="form-control" id="city"
                                       value="{{ info.city }}">
                            </div>
                            <div class="form-group">
                                <label for="telephone">个人电话</label>
                                <input type="text" name="telephone" class="form-control" id="telephone"
                                       value="{{ info.telephone }}">
                            </div>
                            <div class="form-group">
                                <label for="email">电子邮箱</label>
                                <input type="email" name="email" class="form-control" id="email"
                                       value="{{ info.email }}">
                            </div>
                            <input type="hidden" name="user_id" value="{{ info.user_id }}">
                            <button type="submit" class="btn btn-primary">修改个人信息</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="list-course" role="tabpanel" aria-labelledby="list-profile-list">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">课程</th>
                                <th scope="col">内容</th>
                                <th scope="col">类别</th>
                                <th scope="col">教员</th>
                                <th scope="col">授课时间</th>
                                <th scope="col">成绩</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in courses %}
                                <tr>
                                    <th scope="row">{{ course.name }}</th>
                                    <td>{{ course.content }}</td>
                                    <td>{{ course.category }}</td>
                                    <td>{{ course.instructor }}</td>
                                    <td>{{ course.start_time }} 至 {{ course.end_time }}</td>
                                    <td>{{ course.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="accordion" id="accordion">
                            {% for his in history %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ his.name }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block btn-outline-success text-left" type="button"
                                                    data-toggle="collapse" data-target="#collapse{{ his.name }}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse{{ his.name }}">
                                                {{ his.name }}({{ his.category }},{{ his.instructor }},{{ his.end_time }}结课)
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapse{{ his.name }}" class="collapse show"
                                         aria-labelledby="heading{{ his.name }}"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                {% for test in his.tests %}
                                                    <li class="list-group-item">第{{ loop.index0 }}次考试:
                                                        {{ test.score }}分,尝试时间{{ test.time }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>